body {
    background-color: #22221e; 
    color: #f4f4f4;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    line-height: 1.5;
}

.blok-artykulu {
    width: 100%;
    margin-bottom: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid #444; 
}

.blok-artykulu:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.grupa-czyszczaca::after {
    content: "";
    clear: both;
    display: table;
}


.naglowek {
    background-color: #3e4a36; 
    text-align: center;
    padding: 30px 0;
    border-bottom: 4px solid #c5a059; 
}

.naglowek h1 {
    font-size: 55px;
    color: #c5a059;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.sekcja-glowna {
    width: 90%;
    max-width: 1200px;
    margin: 60px auto;
    padding: 30px;
    background-color: #2a2a26;
    border: 1px solid #444;
}

.obrazek-lewo {
    float: left;
    width: 45%;
}

.obrazek-lewo img {
    width: 100%;
    height: auto; 
    max-height: 300px;
    object-fit: cover; 
    border-radius: 5px;
}

.tekst-prawo {
    float: left;
    width: 50%;
    margin-left: 5%;
}

.tekst-prawo h2 {
    color: #c5a059;
    font-size: 30px;
    margin-bottom: 20px;
}


.pasek-info {
    background-color: #c5a059;
    color: #111;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.stopka {
    background-color: #181816;
    padding: 50px 0px;
}

.kolumna-stopki {
    float:left;
    box-sizing: border-box;
    padding: 0 20px;
    height: 226px;
}

.lewa {
    width: 25%;
    text-align: center;
    padding-top: 2%;
}

.prawa{
    width: 25%;
    padding-top: 1%;
    padding-left: 2%;
    text-align: center;
    font-size: large;
}

.srodek {
    width: 50%;
    text-align: center;
}

.logo-mini {
    width: 300px; 
    margin-bottom: 15px;
    margin: 25px 0;
}

.ikony-social img {
    width: 70px;
    margin: 20px 20px 20px 0;
    cursor: pointer;
}

.srodekstopka iframe {
    border: 2px solid #3e4a36;
    border-radius: 4px;
}

a[href^="tel:"], a[href^="mailto:"] {
    font-size: 14px;        
    text-decoration: none;  
    line-height: 1.2; 
    color: white;     
}

a.przycisk {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #c5a059; 
    color: #111;              
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px; 
    float: right;              
}

a.przycisk:hover {
    background-color: #e2b86a;
    color: #000;
}



